.setting {
  height: 100vh;
}

.setting-page {
  margin-top: 56px;
  height: calc(100vh - 56px);
  width: 100%;
}

.setting-navbar {
  min-width: 320px;
  height: 100%;
  background: #ffffff;
}

ul.list-group li {
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.0625rem;
}

.clickButton {
  color: #212529;
  background-color: #e2e6ea;
}

.color-blue {
  color: #5899e8;
}

.color-pink {
  color: #ec82ac;
}

.color-vintage {
  color: #f3c272;
}
